body, html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serrif;
	background: url(https://images.unsplash.com/photo-1559163499-413811fb2344?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bGFwdG9wfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80) no-repeat center center fixed;
	background-size: cover;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

h1 {
	font-size: 3rem;
	color: #8dccfb;
}

.buffer {
	height: 25rem;
}


.btn {
	font-weight: 600;
	border-radius: 400px;
	text-transform: uppercase;
}

.btn-success {
	background-color: #588719;
	border-color: #588719;
}

.btn-success:hover {
	background-color: #a93d0a;
	border-color: #a93d0a;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem, 2rem;

}
